body {
    padding: 20px;
}

.radios-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.drink-image {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
    display: none;
}